

.container{
    background-image: url(../../../assets/img/man-standing-on-sea-shore-4007605.jpg);
    background-size: cover;
    border-radius: 2%;
}
.container1{
    border: 1px solid;
    margin-bottom: 127%;
    margin-right: 2%;
    margin-left: 2%;
    box-shadow: 1px 1px;

}
ion-card{
    margin-bottom: 75%;
}
img {
    border-radius: 50%;
    width: 20%;
    position: absolute;
    top: 28%;
    left: 38%;

  }
  .containerr{
      margin-left: 5%;
  }
  .butonum1{
      position: absolute;
      margin-top: 18%;
  }
  .h4{
    margin-top: 35%; 
    margin-left: 22%;
    font-weight: bold;
  }
  .paragraf{
    position:absolute;
    margin-left: 25%; 
    margin-top: -1%;
    font-size: 80%; 
    
  }
  .p1{
    font-size: 80%; 
    
  }
  .container2{
      border-bottom: 1px solid;
      border-radius: 5%;
      box-shadow: 1px 5px #caf5f5;

  }
  .asagi{
      margin-top: 1%;
  }