<ion-header>
  <ion-toolbar color="primary">
    <ion-title > My friends</ion-title>


    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-input clearInput placeholder="Search..." class="search"><ion-icon name="search-outline" style="margin-left: 5%;"></ion-icon></ion-input>
  
  <ion-list>
    <ion-item routerLink="./ali" routerDirection="root">
      <ion-avatar slot="start">
        <img src="../../assets/img/img_avatar.png">
      </ion-avatar>
      <ion-label>Ali Meşe</ion-label>
    </ion-item>
    <ion-item routerLink="./ayse" routerDirection="root">
      <ion-avatar slot="start">
        <img src="../../assets/img/img_avatar2.png">
      </ion-avatar>
      <ion-label>Ayşe Yaman</ion-label>
    </ion-item>
    <ion-item routerLink="./batu" routerDirection="root">
      <ion-avatar slot="start">
        <img src="../../assets/img/img_avatar.png">
      </ion-avatar>
      <ion-label>Batu Öztürk</ion-label>
    </ion-item>
    <ion-item routerLink="./caner" routerDirection="root">
      <ion-avatar slot="start">
        <img src="../../assets/img/img_avatar.png">
      </ion-avatar>
      <ion-label>Caner Soner</ion-label>
    </ion-item>
    <ion-item routerLink="./murat" routerDirection="root">
      <ion-avatar slot="start">
        <img src="../../assets/img/img_avatar.png">
      </ion-avatar>
      <ion-label>Murat Aslan</ion-label>
    </ion-item>
    <ion-item routerLink="./mustafa" routerDirection="root">
      <ion-avatar slot="start">
        <img src="../../assets/img/img_avatar.png">
      </ion-avatar>
      <ion-label>Mustafa Vural</ion-label>
    </ion-item>
    <ion-item routerLink="./selman" routerDirection="root">
      <ion-avatar slot="start">
        <img src="../../assets/img/img_avatar.png">
      </ion-avatar>
      <ion-label>Selman Kara</ion-label>
    </ion-item>
    <ion-item routerLink="./yaren" routerDirection="root">
      <ion-avatar slot="start">
        <img src="../../assets/img/img_avatar2.png">
      </ion-avatar>
      <ion-label>Yaren Yılmaz</ion-label>
    </ion-item>
    <ion-item routerLink="./melis" routerDirection="root">
      <ion-avatar slot="start">
        <img src="../../assets/img/img_avatar2.png">
      </ion-avatar>
      <ion-label>Melis Aydın</ion-label>
    </ion-item>
  </ion-list>







</ion-content>
