<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Games</ion-title>
    <ion-icon name="game-controller-outline" color="warning" slot="end" style="position: absolute;margin-left: 58%; font-size: 180%;"></ion-icon>


    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>

    
    <ion-buttons slot="end" style="margin-right: 3%;">
      <label routerLink="/tabs/tabs/games" routerDirection="root">Back</label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <h2 style="margin-left: 26%;">FunMath101</h2>
    </ion-item>
  
    <ion-card-content>
     &nbsp; FunMath oyunu ile eğlenceli avatarları haraket ettirerek toplama işlemleminin doğru sonucunu bulmaya çalışabilirsiniz.
   Oyun iki kişi oynanır.(7-8 yaş için uygundur)
<ion-item>
  <h2 style="margin-left: 20%;">Geliştirdiği Yetenekler</h2>
</ion-item>     
- Dört işlemi öğretiyor<br>
-  Analitik zekayı geliştiriyor<br>
- Refleksleri geliştiriyor<br>
-Hızlı düşünme becerisini arttırıyor
    </ion-card-content>
  </ion-card>

  <ion-card>
    
  
    <ion-card-content>
      <video controls class="video">
        <source src="../../assets/math.mp4" type="video/mp4;">

      </video>

    </ion-card-content>
  </ion-card>




  <ion-card>
    <ion-item>
      <h2 style="margin-left: 36%;">Gallery</h2>
    </ion-item>
  
    <ion-card-content>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <img src="../../assets/math1.png" alt="ion">
        </ion-slide>
        <ion-slide>
          <img src="../../assets/math2.png" alt="ion">
        </ion-slide>
        <ion-slide>
          <img src="../../assets/math2.png" alt="ion">
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>


  
  
</ion-content>
