
<ion-content>
  <div class="container"> 
  <div class="containerr">
    <ion-buttons>
    <ion-back-button class="butonum1" defaultHref="/tabs/tabs/friends"></ion-back-button>
  </ion-buttons>
  
  </div>
  <div class="container2">
  <h3 style="margin-top: 28%;margin-left: 7%; font-weight: bold;">User Profile</h3>
  
  <img src="../../assets/img/img_avatar.png">
  <h4 class="h4">Ali Meşe (ali.mese)</h4>
  <p class="paragraf">6 yaşında &  Tiyatro ve Basketbol <br>
      Ankara,Türkiye  </p>
  
  <ion-row style="text-align: center; margin-top: 11%;">
    <ion-col>
  <p class="p1">Games</p>
  <ion-badge>5</ion-badge>
    </ion-col>
    <ion-col>
      <p class="p1">Friends</p>
      <ion-badge>9</ion-badge>
    </ion-col>
    <ion-col>
      <p class="p1">Rank</p>
      <ion-badge>22</ion-badge>
    </ion-col>
  </ion-row>
  </div>
  
  
  </div>
  <ion-list>
    
    <ion-list-header>
      <ion-label style="text-align: center;">
        Personal Informations
      </ion-label>
    </ion-list-header>
    <div class="asagi">
    <ion-item>
      <ion-label style="font-weight: bold; padding-left: 5%;">Gender:</ion-label>
      <ion-label style="padding-right: 33%;">Male</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label style="font-weight: bold; padding-left: 5%;">E-mail:</ion-label>
      <ion-label style="padding-right: 33%;">ali@g...com</ion-label>

    </ion-item>
    <ion-item>
      <ion-label style="font-weight: bold; padding-left: 5%;">Username:</ion-label>
      <ion-label style="padding-right: 33%;">ali.mese</ion-label>

    </ion-item>
    <ion-item>
      <ion-label style="font-weight: bold; padding-left: 5%;">Phone No:</ion-label>
      <ion-label style="padding-right: 33%;">05XXXXXXXXX</ion-label>

    </ion-item>
    
    
    <ion-item>
      <ion-label style="font-weight: bold; padding-left: 5%;">Height(cm):</ion-label>
      <ion-label style="padding-right: 30%;">150</ion-label>

    </ion-item>
    <ion-item>
      <ion-label style="font-weight: bold; padding-left: 5%;">Weight(Kg):</ion-label>
      <ion-label style="padding-right: 30%;">38</ion-label>

    </ion-item>
    <ion-item>
      <ion-label style="font-weight: bold; padding-left: 5%;">Hair Color:</ion-label>
      <ion-label style="padding-right: 33%;">Black</ion-label>

    </ion-item>
  </div>
  </ion-list>

  </ion-content> 
      
  
  
  