.h2{
    position: absolute;
    color: white;
    margin-top:15% ;
    margin-left: 5%;
    font-weight: bold;
}
.p{
    position: absolute;
    color: white;
    margin-top:24% ;
    margin-left: 5%;
}

ion-card{
    top: -7%;
}