.or{
    position: absolute;
    margin-top: 6%;
    margin-left: 45%;
    font-size: larger;
    z-index: 2;
    background-color: white;
}
.hr {
    position: absolute;
    border-bottom: 1px solid darkblue;
    margin: 9% 0;
    width: 100%;
   
  }
 