<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form style="margin-top: 3%;"> 
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <span  class="or">or</span>
        <div class="hr"></div>
        <ion-item lines="full" style="margin-top: 10%;">
          <ion-label position="floating">Phone number</ion-label>
          <ion-input type="number" required></ion-input>
        </ion-item>

    <ion-row style="margin-top: 5%;">
      <ion-col>
        <ion-button (click)="presentAlert()" color="danger" expand="block" routerLink="/login" routerDirection="root">Send</ion-button>
      </ion-col>
    </ion-row>

    <small>
     <p> &nbsp;&nbsp; Lütfen email adresinizi ya da telefon numaranızı giriniz ve daha sonrasında size gelen link ile yeni bir şifre oluşturabilirsiniz.</p>
    </small>
  </form>
</ion-content>